.game-record-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.game-record {
    display: flex;
    border: 1px solid #e0a96d; /* Warm orange border */
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.game-details {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-name h2 {
    font-size: 24px;
    margin: 0;
    color: #e0a96d; /* Warm orange color */
}

.publisher-id, .game-price {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.game-image {
    flex: 1;
    padding: 20px;
}

.game-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
